.App {
  font-family: sans-serif;
  text-align: center;
}

.input_box {
  margin: auto;
}

.input {
  /* align-content: center; */
  vertical-align: baseline;
  height: 36px;
  width: 300px;
  /* border: 0.75 solid #6b6b6b; */
  /* margin: 10px; */
  font-size: 1.25em;
  margin: 0;
  padding: 0;
  /* border-radius: 4px; */
}

/* .input-group {
  height: 50px;
} */

.inputError {
  font-size: 0.75em;
  font-weight: bold;
}

.todos_9 {
  color: #e68609;
}

.todos_10 {
  color: red;
}

.btn_input {
  height: 40px;
  margin: 5px 0;
  padding: 5px;

  /* margin: 0 auto; */
  /* vertical-align: center; */
  /* padding:25px; */
  /* margin: 5px; */
}

ul {
  background-color: #e8ebe9;
  height: 800px;
  padding: 10px 0;
}

li {
  position: relative;
  text-decoration: none;
  list-style-type: none;
  background-color: #fafafa;
  height: 1em;
  width: 400px;
  border-bottom: 3px solid white;
  border-radius: 4px;
  margin: 4px auto 0 auto;
  padding-top: 9px;
  padding-bottom: 4px;
  box-shadow: 5px 10px 18px #888888;
  z-index: 2;
  transition: box-shadow 0.3s, border-bottom 0.2s, transform 0.3s, z-index 0.02s;
}

.todo_item {
  display: flex;
  align-content: center;
  justify-content: center;
}

li:hover {
  border-bottom: 3px solid #78fa78;
  box-shadow: 1px 5px 5px #6b6b6b;
  transform: translate(-2px, 1px);
  /* margin-bottom: 3px; */
  text-decoration: line-through;
  z-index: 0;
}
li:hover .btn_delete {
  visibility: visible;
  opacity: 100;

  /* background-color: green; */
}

.btn_delete {
  /* display: inline; */
  position: absolute;
  /* align-content: right; */
  right: 0;
  /* background-color: lightblue; */
  width: 40px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s, color 0.25s;
}

.btn_delete:hover {
  color: red;
}

.striketrough {
  text-decoration: line-through;
}
